@-webkit-keyframes navFromRight {
  0% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes navFromRight {
  0% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes navToRight {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  100% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
}

@keyframes navToRight {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  100% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
}