.donate {
  background-color: var(--color-light-l);
}
.donate-container {
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (max-width: 1279px) {
    gap: 60px;
  }
  @media screen and (max-width: 767px) {
    padding: 42px 10px;
    gap: 42px;
  }
}

.donate__title {
  max-width: 300px;
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    max-width: 220px;
  }
}

.donate__text {
  color: var(--color-dark-l);
  margin-bottom: 20px;
  font: 400 15px/17px Georgia;
  letter-spacing: 0.06em;
  @media screen and (max-width: 767px) {
    line-height: 24px;
    letter-spacing: 0px;
    margin: 0 13px 20px;
  }
}

.donate__link {
  max-width: 350px;
  display: block;
  position: relative;
  background-color: var(--color-primary);
  padding: 10px 15px 10px 60px;
  border-radius: 9px;
  margin-bottom: 20px;
  font: 400 20px/23px Georgia;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  &:hover {
    background-color: var(--color-primary-light);
  }
  &::before {
    position: absolute;
    content: '';
    left: 15px;
    top: 10px;
    width: 30px;
    height: 23px;
    background: url(../assets/svg/credit-card.svg) no-repeat center;
  }
  @media screen and (max-width: 767px) {
    font: 400 15px/17px Georgia;
    padding: 13px 14px 13px 60px;
    margin: 0 10px 20px 9px;
  }
}

.donate__info {
  font: italic 400 12px/18px Arial;
  color: var(--color-dark-m);
  @media screen and (max-width: 767px) {
    margin: 0 10px;
    text-align: justify;
  }
}

.donate__description {
  max-width: 380px;
  @media screen and (max-width: 1279px) {
    order: -1;
  }
}

.donate-pet {
  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
}