.friends {
  background-color: var(--color-light-l);
  &__btn {
    padding: 15px 45px;
    margin: 0 auto;
  }
}
.friends-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 40px 100px;
  @media screen and (max-width: 1279px) {
    padding: 80px 30px 100px;
  }
  @media screen and (max-width: 767px) {
    padding: 42px 10px;
  }
}
.friends-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 53px;
  padding: 60px 0 60px;
  @media screen and (max-width: 1279px) {
    gap: 12px;
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 42px 0;
    gap: 20px;
  }
}
.friends-slider-container {
  max-width: 990px;
  flex-shrink: 100;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    order: -1;
    width: 100%;
  }
}
.friends-slider-items {
  display: flex;
  gap: var(--gap);
  transform: translate(calc(-100% - var(--gap)));
  justify-content: space-between;
}
@keyframes move-right {
  from {
    transform: translate(calc(-100% - var(--gap)));
  }

  to {
    transform: translate(calc(-200% - calc(var(--gap) * 2)));
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {
    transform: translate(calc(-100% - var(--gap)));
  }
  
  to {
    transform: translate(0%);
  }
}
.friends-slider-pet-wrapper {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  gap: var(--gap);
  justify-content: space-between;
}
.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}
.friends-slider-pet {
  width: calc(33.333333% - 60px);
  flex-shrink: 0;
  border-radius: 9px;
  background-color: var(--color-light-s);
  &__img-container, &__name, &__btn {
    margin: 0 auto 30px;
  }
  &__img {
    max-width: 100%;
    min-height: 270px;
    object-fit: cover;
    border-radius: 9px;
    margin: 0 auto;
  }
  &__btn {
    background-color: var(--color-light-s);
    border: 2px solid var(--color-primary);
    padding: 13px 43px;
  }
  &:hover {
    cursor: pointer;
    .friends-slider-pet__btn {
      background-color: var(--color-primary-light);
    }
    box-shadow: 0px 2px 35px 14px #0D0D0D0A;
    background-color: var(--color-light-xl);
  }
  @media screen and (max-width: 1279px) {
    width: calc(50% - 20px);
  }
  @media screen and (max-width: 767px) {
    width: calc(100%);
  }
}
.friends__title-part {
  display: block;
}
.friends__title {
  margin: 0 auto;
  text-align: center;
}
.friends-slider__arrow-wrapper {
  cursor: pointer;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  position: relative;
  &:hover {
    background-color: var(--color-primary-light);
  }
}

.friends-slider__arrow {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 11px;
  height: 2px;
  background-color: var(--color-dark-3xl);
  transform: translate(-50%, -50%);
  &::before {
    content: '';
    position: absolute;
    left: -3px;
    top: -2px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 3px 3px;
    border-color: transparent transparent var(--color-dark-3xl) transparent;
  }
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    left: -3px;
    bottom: -2px;
    border-style: solid;
    border-width: 0 3px 3px 0;
    border-color: transparent var(--color-dark-3xl) transparent transparent;
  }
}

.friends-slider__arrow_right {
  &::before {
    left: auto;
    right: -3px;
    border-width: 3px 0 0 3px;
    border-color: transparent transparent transparent var(--color-dark-3xl);
  }

  &::after {
    left: auto;
    right: -3px;
    bottom: -2px;
    border-width: 3px 3px 0 0;
    border-color: var(--color-dark-3xl) transparent transparent transparent;
  }
}

.friends-pagination-wrapper {
  color: var(--color-dark-3xl);
  font: 400 20px/23px Georgia;
  letter-spacing: 0.06em;
  text-align: center;
}

.friends-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  &__item {
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
    padding-top: 11px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    &_back {
      color: var(--color-dark-s);
      border-color: var(--color-dark-s);
    }
    &_active {
      border: none;
      background-color: var(--color-primary);
    }
    &_up {
      border-color: var(--color-primary);
      &:hover {
        background-color: var(--color-primary-light);
      }
    }
  }
}
.our-pets-slider {
  @media screen and (max-width: 1279px) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 767px) {
    padding: 42px 0;
  }
}
.our-pets-friends-slider-items {
  gap: 30px 40px;
  overflow: hidden;
  flex-wrap: wrap;
  @media screen and (max-width: 1279px) {
    padding: 0 64px;
  }
  @media screen and (max-width: 767px) {
    padding: 0 15px;
  }
}
.our-pets-friends-slider-item {
  width: calc(25% - 30px);
  @media screen and (max-width: 1279px) {
    width: calc(50% - 20px);
  }
  @media screen and (max-width: 767px) {
    width: calc(100%);
  }
}
.our-pets-friends-container {
  @media screen and (max-width: 1279px) {
    padding-bottom: 76px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 42px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    .popup__close {
      color: var(--color-light-xl);
      background-color: var(--color-primary);
    }
    .popup__close:hover {
      color: var(--color-light-xl);
      background-color: var(--color-primary);
    }
    cursor: pointer;
  }
}

.popup-wrapper {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-light-s);
  color: #000000;
  &:hover {
    .popup__close {
      background: none;
      color: var(--color-dark-3xl);
    }
    cursor: auto;
  }
}
.popup__title {
  font: 400 35px/45px Georgia;
  letter-spacing: 0.06em;
}
.popup__type {
  margin-top: 10px;
  font: 400 20px/23px Georgia;
  letter-spacing: 0.06em;
}

.popup-description-container {
  max-width: 350px;
  padding: 50px 20px 88px 30px;
}
.popup__description {
  margin-top: 40px;
  font: 400 15px/17px Georgia;
  letter-spacing: 0.06em;
}
.popup-features {
  margin-top: 40px;
  padding-left: 20px;
  li::marker {
    color: var(--color-primary);
  }
}
.popup__close {
  width: 52px;
  height: 52px;
  position: absolute;
  font: 700 20px/0px Verdana;
  top: -52px;
  right: -52px;
  background: none;
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    color: var(--color-light-xl);
    background-color: var(--color-primary);
  }
}